---
import TextAppear from "../TextAppear.astro";
---
<section class="h-[200vh] w-screen flex flex-col relative">
  <div
    class="w-screen h-[200vh] border-t border-t-neutral-200"
  >
    <TextAppear classList="text-xl font-bold max-w-4xl text-balance h-screen mx-auto flex items-center sticky top-0">
      I'm a backend-focused developer who thrives on understanding how things
      work under the hood. I love diving into complex systems — whether it's
      database internals, compiler design, or distributed architectures — and
      building robust, scalable solutions.
    </TextAppear>
  </div>
</section>
