---
import TextAppear from "../TextAppear.astro";
---
<section class="h-[200vh] w-screen flex flex-col">
  <div
    class="w-screen h-screen flex justify-center items-center py-10 border-t border-t-neutral-200 sticky top-0"
  >
    <TextAppear start={1} span={1} classList="text-xl font-bold max-w-4xl text-balance">
      I'm a backend-focused developer who thrives on understanding how things
      work under the hood. I love diving into complex systems — whether it's
      database internals, compiler design, or distributed architectures — and
      building robust, scalable solutions.
    </TextAppear>
  </div>
  <!-- <div class="w-screen flex justify-center py-10 border-y border-y-neutral-200">
    <p class="text-xl font-bold max-w-4xl text-balance">
      While I prefer the logic and structure of backend development, I’m comfortable working across the stack and can handle frontend tasks when needed. My go-to tools are Rust for performance-critical systems and TypeScript for expressive, maintainable backend services.
    </p>
  </div> -->
</section>
