---
import TextAppear from "../TextAppear.astro";
---

<section class="h-[200vh] w-screen flex flex-col bg-black relative z-50">
  <div
    class="w-screen h-full"
  >
    <TextAppear
      classList="text-xl font-bold max-w-4xl text-balance text-white h-screen mx-auto flex items-center sticky top-0"
    >
      Like many developers, I’ve had my share of unfinished side projects. But
      each one taught me something — about scope, motivation, and the value of
      finishing. Now, I build with intention, one solid step at a time.
    </TextAppear>
  </div>
</section>
